extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  h1= title

  //- div(class='btn-group')
  div(class='buttons')
    div(class='mode', name='1') mode 1
    div(class='mode', name='2') mode 2
    div(class='mode', name='3') mode 3
    div(class='mode', name='4') mode 4