extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  h1 ふっとオフ

  //- div(class='btn-group')
  div(class='buttons')
    button(id='mode1', class='btn') mode1
    br
    button(id='mode2', class='btn') mode2
    br
    button(id='mode3', class='btn') mode3
    br
    button(id='mode4', class='btn') mode4
