body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*position: fixed;*/
  /*top: 7%;*/
  /*left: 50%;*/
  /*margin-left: -100px;*/
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

a {
  color: #00B7FF;
}

.buttons {
    /*width: 100%;*/
    text-align: center;
    /*margin-left: 30%;*/
}

.buttons button{
    display: block-inline;
    /*text-align: center;*/
    margin-bottom: 14px;
}
